services:
  backend:
    build: ./backend
    container_name: campussphere-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: campussphere-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
