name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-backend:latest

      - name: Build and push frontend
        run: |
          docker build --build-arg NEXT_PUBLIC_API_URL=https://campussphere.live -t ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-frontend:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-frontend:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-backend:latest
            docker stop campussphere-frontend campussphere-backend || true
            docker rm campussphere-frontend campussphere-backend || true
            docker run -d -p 5000:5000 \
              -e MONGO_URI="${{ secrets.MONGO_URI }}" \
              -e PORT=5000 \
              --name campussphere-backend \
              ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-backend:latest
            docker run -d -p 3000:3000 \
              --name campussphere-frontend \
              ${{ secrets.DOCKERHUB_USERNAME }}/campussphere-frontend:latest
